header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow-md);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#header h1 {
  font-size: var(--font-size-3xl);
  color: var(--tertiary-color);
  font-weight: 700;
}

#header p {
  font-size: var(--font-size-md);
  color: var(--tertiary-color);
  font-weight: 500;
}
