/* 인풋 */
input,
select {
  border: 1px solid var(--senary-color);
  border-radius: var(--border-radius-md);
  padding: 12px;
  font-size: var(--font-size-md);
  font-weight: 400;
}

input::placeholder {
  font-size: var(--font-size-md);
  font-weight: 400;
  color: var(--tertiary-color);
}

input:focus,
select:focus {
  border: 1px solid var(--secondary-color);
  transition: var(--transition-sm);
}

/* 라벨 */
label {
  font-weight: 600;
  color: var(--primary-color);
}

#search-filter-form label {
  font-size: var(--font-size-lg);
}

#add-member-form .filter-field > label {
  font-size: var(--font-size-md);
}
