@import "tailwindcss";

@font-face {
  font-family: "NeoDunggeunmo";
  src: url("./assets/fonts/neodgm.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "NeoDunggeunmo", monospace;
}

body {
  margin: 0 auto;
  padding: 0;
}

@theme {
  --font-neodgm: "NeoDunggeunmo", monospace;

  --color-primary: #bfdc6b;
  --color-secondary: #d4e897;
  --color-tertiary: #e3edc4;
  --color-quaternary: #cef654;
  --color-quinary: #fff2c3;

  --color-text-primary: #333333;
  --color-text-secondary: #666666;
  --color-text-tertiary: #999999;
  --color-text-quaternary: #cccccc;

  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.15);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 6px 12px rgba(0, 0, 0, 0.15);
  --shadow-xl: 0 12px 24px rgba(0, 0, 0, 0.15);

  --rounded-sm: 10px;
  --rounded-md: 12px;
  --rounded-lg: 20px;
  --rounded-xl: 25px;
  --rounded-xxl: 30px;
}
